<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <h2>Form Edit Contact</h2>

      <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
          <ul>
            <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        </div>
      <% } %>


      <form method="post" action="/contact?_method=PUT">
        <input type="hidden" name="_id" value="<%= contact._id %>">
        <input type="hidden" name="oldName" value="<%= contact.oldName || contact.name %>"/>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" required value="<%= contact.name %>"/>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required value="<%= contact.email %>"/>
        </div>
        <div class="mb-3">
          <label for="phoneNumber class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" required value="<%= contact.phoneNumber %>"/>
        </div>
        <button type="submit" class="btn btn-primary">Edit Contact</button>
      </form>
    </div>
  </div>
</div>
